/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";


.message_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.type-warning{
  justify-content: flex-end;
  small{
    text-align: right;
  }
}
.type-info{
  justify-content: flex-start;
}
.conversation-messages-container{
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 20px;
}
.conversation-footer {
  height: 20vh;
}
.conversation-index-link{
  display: block;
  width: 100%;
}
.conversation-index-link:hover{
  text-decoration: none;
}
nav{
  margin-bottom: 20px;
}
.message_time{
  width: 100%;
  margin-bottom: 10px;
}
.message_margin{
  margin-bottom: 3px;
}
.send-message-button{
  width: 100%;
}
.sign_up_supply{
  display: inline-block;
  margin: 0px 5px;
}